---
layout: default
---

    {% for post in paginator.posts %}
    <article role="article" class="post h-entry">
		<header class="entry-header">
			<h1 class="post-title p-name">
	      		<a class="u-url" href="{{ site.github.url }}{{ post.url }}">
	        		{{ post.title }}
	      		</a>
	  		</h1>
			<time class="dt-time post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
		</header>
		<div class="e-content" itemprop="text">
		{{ post.content }}
		</div>
	</article>
    {% endfor %}


    <div class="pagination" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.github.url }}">Older</a> {% else %}
      <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.github.url }}">Newer</a> {% else %}
      <span class="pagination-item newer">Newer</span> {% endif %}
    </div>
