---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  {% include post.html post=post %}
  {% endfor %}
</div>


<div class="pagination" role="navigation">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.github.url }}">Older</a> {% else %}
  <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.github.url }}">Newer</a> {% else %}
  <span class="pagination-item newer">Newer</span> {% endif %}
</div>
