	<div class="banner h-card">
		<img class="u-photo" src="{{ site.author_img }}">
		<h2>Welcome to the website of <span class="p-name">{{ site.author }}</span></h2>

		<p>{{ site.description }}</p>
		<ul class="soc">
			{% if site.twitter_username %}
		 		{% include icon-twitter.html %}
		 	{% endif %}
		 	{% if site.github_username %}
				{% include icon-github.html %}
			{% endif %}
			{% if site.instagram_username %}
				{% include icon-instagram.html %}
			{% endif %}
			{% if site.facebook_url %}
				{% include icon-facebook.html %}
			{% endif %}
			{% if site.linkedin_url %}
				{% include icon-linkedin.html %}
			{% endif %}
			{% if site.tumblr_url %}
				{% include icon-tumblr.html %}
			{% endif %}
			{% if site.flickr_username %}
				{% include icon-flickr.html %}
			{% endif %}
			{% if site.foursquare_username %}
				{% include icon-foursquare.html %}
			{% endif %}
			{% if site.email %}
				{% include icon-email.html %}
			{% endif %}

			<li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" class="icon rss" title="RSS"><svg viewBox="0 0 512 512"><path d="M201.8 347.2c0 20.3-16.5 36.8-36.8 36.8 -20.3 0-36.8-16.5-36.8-36.8s16.5-36.8 36.8-36.8C185.3 310.4 201.8 326.8 201.8 347.2zM128.2 204.7v54.5c68.5 0.7 124 56.3 124.7 124.7h54.5C306.7 285.3 226.9 205.4 128.2 204.7zM128.2 166.6c57.9 0.3 112.3 22.9 153.2 63.9 41 41 63.7 95.5 63.9 153.5h54.5c-0.3-149.9-121.7-271.4-271.6-271.9V166.6L128.2 166.6z"/></svg></a></li>

		</ul>

	</div>
