<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" 
      type="image/png" 
      href="{{site.baseurl}}/assets/images/favicon.png">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<!---TODO: PWA
	<link rel="manifest" href="site.webmanifest">
	-->
	<link rel="stylesheet" href= "{{site.baseurl}}/assets/css/main.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | prepend: site.url }}">
	{% if site.webmentions %}
	<link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
	{% endif %}
	{% seo %}
	<meta name="theme-color" content="#fdfdfd">
</head>