<header class="mainheader">
				<div class="site-branding">
					<a class="logo" href="/">
            			<img src="/assets/images/favicon.png" alt="{{ site.title }}">
        			</a>
					<h1>{{ site.title }}</h1>
				</div>	
				<nav class="mainnav" role="navigation">					
						{% for item in site.data.navbar.main-nav %}
							{% if page.url == item.url %}
							<a class="is-current" href="{{ item.url }}">{{ item.title }}</a>
							{% else %}
							<a href="{{ item.url }}">{{ item.title }}</a>
							{% endif %}
						{% endfor %}
            	</nav>
			</header>