{% assign post = include.post %}


<article class="post h-entry">
	<header class="entry-header">
			{% if post.title != '' %}
	<h1 class="title p-name">
		{% if post.mf-bookmark %}
			<a class="u-bookmark-of" href="{{post.mf-bookmark | first}}">{{post.title}}</a>
		{% elsif post.mf-bookmark-of %}
			<a class="u-bookmark-of" href="{{post.mf-bookmark-of | first}}">{{post.title}}</a>
		{% elsif post.mf-repost-of %}
			<a class="u-repost-of" href="{{post.mf-repost-of | first}}">{{post.title}}</a>
		{% else %}
		<a class="u-url" href="{{ post.url }}">
			{{ post.title }}
		</a>
		{% endif %}
	</h1>
{% endif %}

			{% if post.title == '' %}
			<a class="u-url" href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}" class="dt-time post-date">{{ post.date | date_to_string }}</time></a>
			{% else %}
			<time datetime="{{ post.date | date_to_xmlschema }}" class="dt-time post-date">{{ post.date | date_to_string }}</time>
			{% endif %}
			<h3 class="subtitle">Tags</h3>
			<div class="tags">
			<!-- Kilroy was here -->
				{% for tags in post.tags %}
					<a class="tag" href="/tags/{{ tags }}">
					{{ tags }}
					</a>
				{% endfor %}
			<!-- end tags -->
			</div>
	</header>

	<div class="entry-content">
		{% if post.mf-like-of != null %}
			  {% include post-like.html post=post %}
			{% else %}
			  {% include post-content.html post=post %}
			{% endif %}
	</div>

</article>
