* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

// Links

.site-title {
  @include font-size(30px);
  color: $heading-color;
  text-decoration: none;
}

a {
  color: $link-color;
  font-weight: 600;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Kramdown Footnotes

.footnote {
  font-size: smaller;
  vertical-align: super;
}

.footnotes {

  ol {

    li {
      margin-left: 1rem;
    }
  }
}

// Quotes
blockquote {
  border-left: 5px solid $quiet-color;
  margin: 15px 0;
  padding: 5px 30px 5px 25px;

  p {
    color: $text-color;
    margin-bottom: 0;
    text-indent: -.4em;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }
}

.post {
  ol {
    list-style-type: decimal;
    margin: 1rem .5rem;

  }

  ul {
    list-style-type: square;
    margin: 1rem .5rem;
    }

  li {
    margin-left: .5rem;
    }

  p {
    @include font-size(20px);

    margin: 1rem 0;

    em {
      font-style: italic;
    }

    strong {
      font-weight: $bold;
    }
  }
}

code,
pre {
  font-family: $monospace;
}

code {
  background-color: $quiet-color;
  border-radius: 3px;
  color: $loud-color;
  font-size: .9rem;
  padding: .25em .5em;
}

pre {
  background-color: $quiet-color;
  display: block;
  font-size: .8rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $quiet-color;
}

th,
td {
  padding: 4px;
  text-align: left;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-weight: $bold;
  line-height: 1.25;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;
}

h1 {
  @include font-size(50px);
}

h2 {
  @include font-size(36px);
  margin-top: 1rem;
}

h3 {
  @include font-size(28px);
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  @include font-size(24px);
  margin-top: 1rem;
}



.u-url {
  color: $text-color;
  text-decoration: none;
}

.post-date {
  @include font-size(20px);
  color: $quiet-color;
  text-transform: uppercase;
}

.h-card {
  h2 {
    color: $white;
    margin-left: em;
  }
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 1.5rem;
  text-align: center;

  li {
    display: inline-block;
    margin: 1em;
}

  a,
  svg {
    display: block;
  }

  a {
    height: 4rem;
    position: relative; // IE8
    width: 4rem;
}
}

svg {
  height: 100%;
  width: 100%;
}


.icon {
  color: $quiet-color; // IE8
  fill: $quiet-color;

  &:hover {
    @extend %social-icon-hover;
    background: $quiet-color;
  }
}


// Responsive media
iframe,
img,
embed,
object,
video {
  max-width: 100%;
}
