.site-header {
  @extend %padding-small;
  align-items: center;
  display: flex;
  width: 100%;

  @media (max-width: 600px) {
    flex-wrap: wrap;

    .site-nav {
      flex-basis: 100%;
      order: 2;
      text-align: center;

      a {
        @include font-size(24px);
        color: $heading-color;
        letter-spacing: 2px;
        text-decoration: none;
      }
    }
  }
}

.site-nav {
  flex: 1;
  text-align: right;

  > ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    @include font-size(18px);
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.content {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;

  article {
    margin-bottom: 5rem;
  }
}

.post-title {
  a {
    color: $heading-color;

    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }
}

.banner {
  @extend %padding-regular;
  background-color: $heading-color;
  background-size: cover;
  color: $white;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  width: 100%;

  .u-photo {
    border: $quiet-color 3px solid;
    border-radius: 50%;
    height: 10rem;
    overflow: hidden;
    width: 10rem;
  }
}

.entry-header {
  margin-bottom: 1em;
}

// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  border-top: 1px solid $quiet-color;
  color: $quiet-color;
  font-weight: bold;
  margin-top: 40px;
  overflow: hidden; // clearfix
  text-align: center;

  a {
    &:hover {
      background-color: $text-color;
      color: $quiet-color;
      text-decoration: none;
    }
  }

}
// Pagination should float when space is plentiful
@media (min-width: 990px) {
  .pagination {
    border: 1px solid $quiet-color;
    margin-bottom: 60px;
  }
}

.pagination a,
.pagination span {
  float: left;
  padding: 20px;
  width: 50%;
}

.pagination a:first-child,
.pagination span:first-child {
  border-right: 1px solid $quiet-color;
}

.entry-footer {
  align-items: center;
  background: $quiet-color-light;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  .h-card {
    flex: 0 auto;
    padding: 1rem;

    .u-photo {
      border: $quiet-color 3px solid;
      border-radius: 50%;
      display: block;
      height: 5rem;
      margin: auto;
      }
  }

  .meta-wrap {
    @include font-size(18px);

    flex: 1;
    padding: 1rem;
    }

  .post-date {
    text-transform: none;
    }
  }

.webmention-mention {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .webmention-author {
    flex: 0 auto;
    height: 7rem;

    a {
      text-align: center;
     }

    img {
      display: block;
      height: 4rem;
      margin: auto;
    }
}

  .webmention-summary {
    flex: 1;
    padding: 1rem;
}
}

.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
}
