@function calculate-rem($size) {
  $rem-size: $size / 16px;

  @return #{$rem-size}rem;
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);
}

%padding-small {
  padding: $padding-x-small $padding-x-small * 2;

  @media (max-width: 1000px) {
    padding: $padding-x-small;
  }
}

%padding-regular {
  padding: 0.5*$padding-small $padding-large;

  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}

%social-icon-hover {
  border-radius: 100%;
  color: $heading-color; // IE8
  fill: $heading-color;
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
}
