//Base colors
$text-color: #333;
$quiet-color: #ccc;
$quiet-color-light: rgba($quiet-color, .1);
$loud-color: #000;
$white: #fff;
$heading-color: #0b1a26;
//Link colors
$link-color: #c60000;
$link-hover-color: saturate($link-color, 20%);
$link-visited-color: #333;
// Font weights
$light: 100;
$regular: 400;
$bold: 700;
//Font families
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neu', Arial, sans-serif !default;
$serif: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif !default;
$monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;
