---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "bulma";

main {
  margin-top: 3em;
}

figure.image.is-centered.is-128x128 {
  margin: 0 auto;
}

svg {
  height: 100%;
  width: 100%;
}

.soc svg {
  color: white;
  fill: white;
}

.entry-footer {
  .box {
    margin-top: 2em;
  }
}

.footer {
  margin-top: 3em;
}
