---
---

@charset "utf-8";
@import "variables";
@import "remedy";
@import "grid";

html {
    background: $bg;
    color: $text;
}


@media (prefers-color-scheme: dark) {
    body {
      color: $bg;
      background-color:$dark;
    }
  }
