/*
    Header
*/

.mainheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--very-dark-gray);
    color: #fff;
}

.mainheader h1 {
    font-size: 1.3rem;
}

.site-branding {
    display: flex;
    justify-content: space-around;
}

.site-branding img {
    height: 3em;
    width: 3em;
    margin-right: 1em;
}


.mainnav {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainnav a {
    padding: .5em;
}

@media (min-width: 900px) {
    .mainheader {
        flex-direction: row;
        justify-content: space-around;
    }

    .mainnav a {
        padding: .5em .8em;
    }
}
