a {
    outline        : none;
    text-decoration: none;
    padding        : 2px 1px 0;
}


a:link {
    color: var(--red);
}

a:visited { 
    color: var(--dark);
}

a:focus {
    border-bottom: 1px solid var(--red);
    background: var(--yellow);
}

a:hover {
    border-bottom: 1px solid;     
    background: var(--yellow);
  }

.profiles a:hover {
    border: none;
    background: none;
}

.tags a:hover {
    border: none;
}
  
  a:active {
    color: var(--highlight);
  }