@import "variables";
@import "remedy";
@import "grid.css";
@import "header.css";
@import "hcard.css";
@import "links.css";
@import "article.css";
@import"footer.css";
@import "darkmode.css";

html {
    background: var(--bg);
    color: var(--text);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

