---
layout: default
---
<article class="post h-entry">
  <header class="entry-header">
	  <h1 class="post-title p-name">
		  <a class="u-url" rel="bookmark" href="{{ site.github.url }}{{ page.url }}">
			  {{ page.title }}
		  </a>
	  </h1>
  </header>
  <div class="e-content">
      {{ content }}
  </div>
  <footer class="entry-footer">
	  <div class="entry-meta">
      <div class="h-card">
		        <a href="{{ site.github.url }}" class="entry-author-link" rel="author">
                  {% if site.author_img %}
                  <div class="auth-img">
                    <img src="{{ site.author_img }}" alt="{{ site.author }}" class="u-photo">
                  </div>
                  {% endif %}
                  {% include author.html %}
            </a>
      </div>
      <div class="meta-wrap">
        <p><a href="{{ post.url | prepend: site.github.url }}">{{ page.title }} </a> posted on <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-time post-date">{{ page.date | date_to_string }}</time>.</p>
        <p>This entry has been tagged with the keywords: {% for tags in page.tags %}<span class="tag">{{ tags }} </span>{% endfor %}</p>
    </div>
  </div>
</footer>
</article>

{% if site.webmentions %}
{% include webmentions.html %}
{% endif %}
