---
layout: default
---
<article class="post h-entry">
  <header class="entry-header">
	  <h1 class="post-title p-name">
		  <a class="u-url" rel="bookmark" href="{{ site.github.url }}{{ page.url }}">
			  {{ page.title }}
		  </a>
	  </h1>
  </header>
  <div class="e-content">
      {{ content }}
  </div>
  <footer class="entry-footer">
	  <div class="entry-meta">
    {% if site.author_img %}
      <div class="auth-img">
        <img src="{{ site.author_img }}" alt="{{ site.author }}" class="u-photo">
      </div>
    {% endif %}
      <div class="meta-wrap">
        <span class="entry-author">
		        <a href="{{ site.github.url }}" class="entry-author-link" rel="author">
			           <span class="entry-author-name">{{ post.author }}</span>
		        </a>
        </span>
        <a href="{{ post.url | prepend: site.github.url }}">{{ page.title }} </a>was authored by {% include author.html %} on <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-time post-date">{{ page.date | date_to_string }}</time>.
   This entry has been tagged with the keywords: {% for tags in page.tags %}<span class="tag">{{ tags }} </span>{% endfor %}
    </div>
  </div>
</footer>
</article>

{% if site.webmentions %}
{% include webmentions.html %}
{% endif %}
